#.css-10trblm {
 #   margin-top:-130px;
#}

#[data-testid="stVerticalBlock"] {
#    margin-top: -15px; margin-bottom: -30;
#}
/* Appliquer une couleur de fond à l'ensemble de la page */
body {
    background-color: #f0f0f0; /* Couleur de fond de votre choix */
}

/* Styles pour le conteneur principal de Streamlit */
[data-testid="stAppViewContainer"] {
    background-color: #f0f0f0; /* Assurez-vous que la couleur couvre toute la page */
}

/* Styles pour les blocs verticaux */
[data-testid="stVerticalBlock"] {
    margin-top: -15px; 
    margin-bottom: -30px; 
}

/* Style pour les images de logo */
.logo {
    width: 200px;
    height: auto;
    margin-right: 10px;
}

/* Style pour le titre */
.title {
    color: #113f60;
    margin: 0;
}

/* Style pour la barre de séparation */
.separator {
    height: 4px;
    background-color: #113f60;
    width: 100%;
    margin-top: 10px;
}

/* Modifier la couleur du contour et de fond de la selectbox */
[data-testid="stSelectbox"] > div {
    border: 2px solid rgb(17, 63, 96) !important; /* Contour en couleur avec !important */
    border-radius: 4px; /* Bords légèrement arrondis, optionnel */
    background-color: white !important; /* Couleur de fond en blanc avec !important */
    color: rgb(17, 63, 96) !important; /* Couleur du texte avec !important */
}

/* Changer la couleur de fond des options dans la selectbox */
[data-testid="stSelectbox"] select {
    background-color: white !important; /* Couleur de fond des options en blanc */
    color: rgb(17, 63, 96) !important; /* Couleur du texte des options */
}

/* Style pour le focus de la selectbox */
[data-testid="stSelectbox"]:focus > div {
    border-color: rgb(17, 63, 96) !important; /* Garde la même couleur de contour lors du focus */
}

/* Changer la couleur de fond de la barre supérieure de Streamlit */
header[data-testid="stHeader"] {
    background-color: white; /* Mettre la barre en blanc */
}

 /* Optionnel : Changer la couleur des icônes et du texte dans la barre */
header[data-testid="stHeader"] .css-1q1n0ol, /* Pour le texte */
header[data-testid="stHeader"] svg { /* Pour les icônes */
    color: rgb(17, 63, 96); /* Changer la couleur en bleu foncé */
}


